<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <ADM_ExtraCatalog>
            <version>0.1.0</version>
        </ADM_ExtraCatalog>
    </modules>
    <crontab>
        <jobs>
            <adm_extracatalog>
                <schedule>
                    <cron_expr>0 5 * * *</cron_expr>
                </schedule>
                <run>
                    <model>adm_extracatalog/observer::computeIndicatorAttributes</model>
                </run>
            </adm_extracatalog>
        </jobs>
    </crontab>
    <global>
        <blocks>
            <adm_extracatalog>
                <class>ADM_ExtraCatalog_Block</class>
            </adm_extracatalog>
        </blocks>
        <models>
            <adm_extracatalog>
                <class>ADM_ExtraCatalog_Model</class>
                <resourceModel>adm_extracatalog_resource</resourceModel>
            </adm_extracatalog>
            <adm_extracatalog_resource>
                <class>ADM_ExtraCatalog_Model_Resource</class>
                <entities>
                    <indicator>
                        <table>adm_extracatalog_indicator</table>
                    </indicator>
                </entities>
            </adm_extracatalog_resource>
        </models>
        <resources>
            <adm_extracatalog_setup>
                <setup>
                    <module>ADM_ExtraCatalog</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </adm_extracatalog_setup>
        </resources>
        <helpers>
            <adm_extracatalog>
                <class>ADM_ExtraCatalog_Helper</class>
            </adm_extracatalog>
        </helpers>
    </global>
    <frontend>
        <translate>
            <modules>
                <ADM_ExtraCatalog>
                    <files>
                        <default>ADM_ExtraCatalog.csv</default>
                    </files>
                </ADM_ExtraCatalog>
            </modules>
        </translate>
        <events>
            <catalog_block_product_list_collection>
                <observers>
                    <catalog_product_nav>
                        <class>adm_extracatalog/observer</class>
                        <method>storeProductListIds</method>
                    </catalog_product_nav>
                </observers>
            </catalog_block_product_list_collection>
        </events>
        <layout>
            <updates>
                <adm_extracatalog>
                    <file>adm/extracatalog.xml</file>
                </adm_extracatalog>
            </updates>
        </layout>
    </frontend>
    <default>
        <catalog>
            <product_navigation>
                <lifetime>3600</lifetime>
            </product_navigation>
        </catalog>
    </default>
</config>